/*-------Corpo--------*/
body {
    background-color: #D3B786;
}

/*--------Menu--------*/
.menu {
    background-color: #770D15;
}

/* Home Page */
/*------Carousel-------*/
.slides {
    height: 700px;
}

.slides img {
    height: 700px;
}

/* Pizzas e Massas */
/*---Container Imagens---*/
.imagens {
    padding: 20px;
}

.imagens img {
    width: 320px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.imagens h5, p {
    width: 320px;
    margin: 0 auto;
}

.imagens h5 {
    padding: 5px 0;
    color: #5c4727;
}

.imagens p {
    font-size: 13px;
    color: #493c31;
}

/* Contatos */
.contatos {
    padding: 20px;
}


/*-------Footer--------*/
#rodape {
    background-color: #770D15;
    color: #D3B786;
}

.footer-1 {
    padding: 10px;
}

.menu-footer ul{
    list-style: none;
    padding-left: 0;
}

.menu-footer ul li a{
    color: #D3B786;
    text-decoration: none;
    padding-left: 0;
}

.menu-footer, .redes-sociais, .unidades {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.redes-sociais p {
    margin-bottom: 5px;
    font-weight: bold;
}

.redes-sociais img {
    width: 30px;
    height: 30px;
}

.unidades h3, p {
    margin-bottom: 5px;
}

.desenvolvido {
    text-align: center;
    margin-bottom: 10px;
}