/* Página */
* {
    font-family: "Dancing Script", cursive;
}

/*-------------------------*/

/* Corpo */
body {
    background-color: #D3B786;
}

/*-------------------------*/

/* Menu */
.menu {
    background-color: #770D15;
}

.menu li a, .navbar-brand {
    font-size: 20px;
    color: #D3B786;
}

.menu img {
    padding-right: 10px;
    width: 50px;
}

/*--Dropdown--*/
.dropdown-menu {
    background-color: #770D15;
}

.dropdown-item:hover{
    background-color: #008000;
    color: #D3B786;
}

/*--Nav--*/
.navbar-brand:hover {
    color: #D3B786;
}

.menu li a:hover {
    color: #F9EEC9;
}

/*--Botão Pesquisar--*/
.botao-pesquisar {
    background-color: #770D15;
    color: #D3B786;
    border-color: #D3B786;
}

.botao-pesquisar:hover {
    background-color: #008000;
    color: #ffff00;
}

/*-------------------------*/

/* Home Page */
/*--Carousel--*/
.slides {
    height: 700px;
}

.slides img {
    height: 700px;
}

/*--Vídeo--*/
.video {
    padding: 30px;
}

/*-------------------------*/

/* Sobre */
/*--Container sobre--*/
.sobre {
    padding: 20px;
}

.sobre h3 {
    text-align: center;
    padding: 0 0 10px 0;
    font-weight: bold;
}

/*--Imagem--*/
.pizzaria img {
    width: 680px;
    height: 380px;
    display: block;
    margin: 0 auto;
}

/*--Texto--*/
.texto-sobre p {
    padding: 20px 0 0 0;
    width: 60%;
    font-size: 20px;
}

/*-------------------------*/

/* Pizzas e Massas */
/*--Container Imagens--*/
.imagens {
    padding: 20px;
}

.imagens img {
    width: 320px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.imagens h5, p {
    width: 320px;
    margin: 0 auto;
}

.imagens h5 {
    padding: 5px 0;
    color: #5c4727;
}

.imagens p {
    font-size: 13px;
    color: #493c31;
}

/* Contatos */
/*--Container Contatos--*/
.contatos {
    padding: 20px;
}

/*--iFrame--*/
iframe {
    display: block;
    margin: 0 auto;
}

/*--Botao Enviar--*/
.botao-enviar {
    background-color: #770D15;
    color: #D3B786;
}

.botao-enviar:hover {
    background-color: #008000;
    color: #ffff00;
}

/*-------------------------*/

/*--Footer--*/
#rodape {
    background-color: #770D15;
    color: #D3B786;
}

.footer-1 {
    padding: 10px;
}

.menu-footer {
    font-size: 25px;
}

.menu-footer ul{
    list-style: none;
    padding-left: 0;
}

.menu-footer ul li a{
    color: #D3B786;
    text-decoration: none;
    padding-left: 0;
}

.menu-footer, .redes-sociais, .unidades {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.redes-sociais p {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 25px;
}

.redes-sociais img {
    width: 30px;
    height: 30px;
}

.unidades h3, p {
    margin-bottom: 5px;
}

.desenvolvido {
    text-align: center;
    margin-bottom: 10px;
}